.jumbotron{
  color: white;
  margin: 0px -15px;
  padding: 0px;
  height: 50vh;
  background-size: cover;
}
.container{
  text-align: center;
  padding: 10vh;
  height: 100% !important;
  margin: 0 !important;
  background-image: linear-gradient(rgba(20, 20, 20, 1), rgba(20, 20, 20, 0), rgb(20, 20, 20, 0.8));
}
.header{
  margin-top: -13vh;
}
.profile-pic{
  display: inline-block;
  z-index: 2000;
  width: 24vh;
  height: 24vh;
}
.profile-pic>img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.name{
  display: inline-block;
  margin-left: 5%;
}
.name>h4{
  margin-top: -32px !important;
  font-weight: normal;
  font-size: 32px;
  color: rgb(240, 240, 240);
}
.details{
  margin: 50px auto;
  width: 90%;
}
.description{
  text-align: center;
  font-size: 22px;
}
.movies{
  margin-top: 25vh;
}
.section-title{
  font-size: 32px;
}
