<div *ngIf="profile">
  <div class="jumbotron jumbotron-fluid" [ngStyle]="{'background-image': cover_picture}">
    <div class="container">
    </div>
  </div>
  <div class="header">
    <div class="profile-pic">
      <img src="https://abrilexame.files.wordpress.com/2016/09/size_960_16_9_han_solo.jpg?quality=70&strip=info&w=920" alt="">
    </div>
    <div class="name">
      <h4>{{ profile.name }}</h4>
    </div>
  </div>
  <div class="details" align="center">
    <span class="watched_time">Watched Time: {{ watched_time }}</span>
    <div *ngIf="!editing_description">
      <p class="description" [class.muted]="!profile.description">{{ '"'+profile.description+'"' || 'No description provided'}}</p>
      <span class="edit-description link" (click)="editing_description = true">Edit description</span>
    </div>
    <div *ngIf="editing_description" align="center">
      <textarea class="description-edit" [(ngModel)]="new_description"></textarea><br>
      <span class="monive-me-btn red" (click)="edit_description()">Save</span>
      <span class="monive-me-btn" (click)="cancel_edit_description()">Cancel</span>
    </div>
  </div>
  <div class="movies">
    <div id="favorites" *ngIf="favorites">
      <div class="unselectable">
        <span class="section-title">Favorite Movies</span><span class="link" routerLink="/favorites">see all</span>
      </div>
      <hr>
      <app-carousel [movies]="favorites" [list_size]="favorites.length"></app-carousel>
    </div>
    <div id="watched" *ngIf="watched">
      <div class="unselectable">
        <span class="section-title">Watched Movies</span><span class="link" routerLink="/favorites">see all</span>
      </div>
      <hr>
      <app-carousel [movies]="watched" [list_size]="watched.length"></app-carousel>
    </div>
    <div id="watch_later" *ngIf="watch_later">
      <div class="unselectable">
        <span class="section-title">Watch Later</span><span class="link" routerLink="/favorites">see all</span>
      </div>
      <hr>
      <app-carousel [movies]="watch_later" [list_size]="watch_later.length"></app-carousel>
    </div>
  </div>
</div>
