<div class="row">
  <div class="background">
    <img class="live-background" src="assets/iw.gif" alt="">
  </div>
  <div class="filter">
    <div class="row justify-content-center">
      <div class="form col-lg-4 col-md-6 col-sm-8 col-xs-10" align="center">
        <span class="title">Login</span>
        <form [formGroup]="loginForm">
          <hr>
          <div class="row">
            <div class="form-group col-12">
              <label for="email">Email</label>
              <input type="email" class="form-control" formControlName="email" id="email" (keydown)="onKeydown($event)">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-12">
              <label for="password">Password</label>
              <input type="password" class="form-control" formControlName="password" id="password" (keydown)="onKeydown($event)">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <small *ngIf="incorrectLogin">Invalid login or password</small>
            </div>
          </div>
          <hr>
          <button type="button" class="btn btn-danger" (click)="submit()">Sign In</button>
          or
          <button type="button" class="btn btn-dark" routerLink="/signup">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>
