<div class="p-0 container-fluid">
  <div class="p-0 row">
    <div class="p-0 d-none d-md-block col-md-9 col-lg-9 background">
      <img class="p-0 col-12 live-background" src="assets/mickey.gif" alt="">
    </div>
    <div class="col-3 justify-content-end" >
      <div class="">
        <div class="form col-lg-4 col-md-6 col-sm-8 col-xs-10" align="center">
          <span class="title">Login</span>
          <form [formGroup]="loginForm">
            <hr>
            <div class="row">
              <div class="form-group col-12">
                <label for="email">Email</label>
                <input type="email" class="form-control" formControlName="email" id="email" (keydown)="onKeydown($event)">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password" id="password" (keydown)="onKeydown($event)">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <small *ngIf="incorrectLogin">Invalid login or password</small>
              </div>
            </div>
            <hr>
            <button type="button" class="btn btn-danger" (click)="submit()">Sign In</button>
            or
            <button type="button" class="btn btn-dark" routerLink="/signup">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
