small{
  color: red;
}
.background{
  overflow: hidden !important;
  margin-left: -15px !important;
  height: 100vh;
}
.live-background{
  overflow: hidden !important;
  height: 100vh;
  object-fit: cover;
}
.form{
  z-index: 2;
  background-color: white;
  margin-top: 16vh;
  margin-left: 0;
  width: auto !important;
  margin-right: 0;
}
.title{
  font-size: 22px;
}
.btn{
  margin: 10px;
}
